/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--cor-de-fundo);
    justify-content: space-between;
}

.cabecalho__logo {
    max-width: 5rem; /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1rem;
    display: flex;
    margin-left: 2rem;
}

.navegacao__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;  
    flex-wrap: wrap;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}

.navegacao__elemento__contato {
    font-weight: bold;
}
/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

.apresentacao__foto {
    width: 30%;
    padding: 2rem;
}

.redes {
    display: flex;
    gap: 1rem;
    padding: 0;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: #EAF2FD;
    flex-wrap: wrap;
}

.sobre-mim__titulo {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

/*------------------------------ Seção de Habilidades ------------------------------*/



/*------------------------------ Seção de Hobbies --------------------------------*/


/*------------------------------ Seção de Projetos --------------------------------*/


/*------------------------------ Seção de Contato ---------------------------------*/


/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
/* @media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: center;
        margin: 0;
        gap: 0;
    }

    .cabecalho__logo {
        max-width: 80px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }
}

/* Telas grandes */
/* @media (min-width: 1024px) { */
    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    /* .cabecalho__titulo {
        font-size: 1.4rem;
    } */

    /* .navegacao__elemento a {
        font-size: 1rem;
        display: flex;
        align-items: center;
    } */
/* } */
