/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    color: #464646;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--cor-de-fundo);
    justify-content: space-between;
}

.cabecalho__logo {
    max-width: 5rem; /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1rem;
    display: flex;
    margin-left: 2rem;
}

.navegacao__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;  
    flex-wrap: wrap;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}

.navegacao__elemento__contato {
    font-weight: bold;
}
/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

.apresentacao__foto {
    width: 30%;
    padding: 2rem;
}

.redes {
    display: flex;
    gap: 1rem;
    padding: 0;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
    background-color: #EAF2FD;
}

.sobre-mim__titulo {
    font-size: 2rem;
    font-weight: bold;
}

/*------------------------------ Seção de Habilidades ------------------------------*/

.habilidades {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades__titulo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.habilidades__lista {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.habilidades__elemento {
    margin: 0;
    padding: 3rem;
    background-color: #ffffff;
    
}

.habilidades__nome {
    display: flex;
    font-weight: bold;
    margin: 0;
}

/*------------------------------ Seção de Hobbies --------------------------------*/

.hobbies {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobbies__titulo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hobbies__lista {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.hobbies__elemento {
    margin: 0;
    padding: 3rem;
    background-color: #ffffff;
}

.hobbies__nome {
    display: flex;
    font-weight: bold;
    margin: 0;
}

/*------------------------------ Seção de Projetos --------------------------------*/
.formacao {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formacao__titulo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.formacao__lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.formacao__elemento {
    margin: 0;
    padding: 1rem;
    background-color: #ffffff;  
}

.formacao__icone {
    background-color: #ffffff;
    width: 70%;
    margin-left: 2rem; 
}

.formacao__nome {
    margin: 0;
    padding-top: 1rem;
}

.formacao__detalhe {
    padding-top: 0.5rem;
    margin: 0;
}

/*------------------------------ Seção de Projetos ---------------------------------*/

.projetos {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center; 
}

.projetos__titulo {
    font-size: 2rem;
    margin-top: 0;
}

.projetos__conteiner {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
} 

.projetos__container {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
}


.ver__demo {
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #EAF2FD;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.ver__repositorio {
    background-color: #EDEDED;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.projetos__conteiner__decodificador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.6rem;
}

/*------------------------------ Seção de Contato ---------------------------------*/

.contato {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 0 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center; 
}

.contato__image {
    width: 34%;
}

.contato__titulo {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.contato__texto {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

input {
    border: none;
    outline: none;
}

.contato__campo {
    padding: 1rem;
    /* margin: 0.5rem 0; */
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.contato__campo--textarea {
    resize: none;
    height: 10rem;
    border: none;
    outline: none;
}

.contato__botao {
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #2A7AE4;
    border: none;
}

/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
/* @media (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: center;
        margin: 0;
        gap: 0;
    }

    .cabecalho__logo {
        max-width: 80px;
    }

    .cabecalho__titulo {
        font-size: 1.5rem;
    }

    .navegacao__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .navegacao__elemento a {
        font-size: 1rem;
    }
}

/* Telas grandes */
/* @media (min-width: 1024px) { */
    /* Aqui você pode ajustar ainda mais o design para telas grandes */
    /* .cabecalho__titulo {
        font-size: 1.4rem;
    } */

    /* .navegacao__elemento a {
        font-size: 1rem;
        display: flex;
        align-items: center;
    } */
/* } */
